#header {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100vw;
    text-align: center;
    background-color: #4471af;
    justify-content: center;
    font-family: 'Stick No Bills', sans-serif;
    
    ul:first-of-type {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
        
        li {
            
            display: flex;
            align-items: center;
            justify-content: center;
            
            a {
                font-size: 1.5rem;
                text-decoration: none;
                color: #fff;
            }
        }
    }
    
    img {
        height: 20vh;
    }
        
    ul:last-of-type {
        display: grid;
        grid-template-columns: repeat(2,1fr) 0.5fr;
        
        li {
            
            display: flex;
            align-items: center;
            justify-content: center;
            
            a {
                font-size: 1.4rem;
                text-decoration: none;
                color: #fff;
            }
        }
    }
}